<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
	<parameter name="browser" value="chrome" />
	<listeners>
	<listener class-name = "com.Listener.TestListener"></listener>
	</listeners>
	<test name="Regression Test" preserve-order="false">
		<classes>
			<class name="steps.TestRunner" />
			
		</classes>
	</test>
</suite> 
